<!--NAVIGATION-->
|[Main Contents](Index.ipynb)|

# Data manipulation and analyses in Python and Jupyter <span class="tocSkip"></span>

<h1>Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Installing-Pandas" data-toc-modified-id="Installing-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Installing Pandas</a></span><ul class="toc-item"><li><span><a href="#Reminder-about-tabbing-and-help!" data-toc-modified-id="Reminder-about-tabbing-and-help!-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Reminder about tabbing and help!</a></span></li></ul></li><li><span><a href="#Pandas-dataframes" data-toc-modified-id="Pandas-dataframes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas <code>dataframes</code></a></span><ul class="toc-item"><li><span><a href="#importing-data" data-toc-modified-id="importing-data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>importing data</a></span></li><li><span><a href="#Creating-dataframes" data-toc-modified-id="Creating-dataframes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Creating dataframes</a></span></li><li><span><a href="#Examining-your-data" data-toc-modified-id="Examining-your-data-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Examining your data</a></span></li></ul></li><li><span><a href="#Databases-and-Python" data-toc-modified-id="Databases-and-Python-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Databases and Python</a></span><ul class="toc-item"><li><span><a href="#Relational-databases" data-toc-modified-id="Relational-databases-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Relational databases</a></span></li><li><span><a href="#SQLite" data-toc-modified-id="SQLite-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>SQLite</a></span></li><li><span><a href="#SQLite-with-python" data-toc-modified-id="SQLite-with-python-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>SQLite with python</a></span></li></ul></li><li><span><a href="#Readings-and-Resources" data-toc-modified-id="Readings-and-Resources-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Readings and Resources</a></span></li></ul></div>

## Introduction

You can do complex biological data manipulation and analyses using the `pandas` python package (or by switching kernels, using `R`!)

We will look at pandas here, which provides `R`-like functions for data manipulation and analyses. `pandas` is built on top of NumPy. Most importantly, it offers an R-like `DataFrame` object: a multidimensional array with explicit row and column names that can ontain heterogeneous types of data as well as  missing values, which would not be possible using numpy arrays.

`pandas` also implements a number of powerful data operations for filtering, grouping and reshaping data similar to R or spreadsheet programs.

## Installing Pandas

`pandas` requires NumPy. See the [Pandas documentation](http://pandas.pydata.org/).
If you installed Anaconda, you already have Pandas installed. Otherwise, you can `sudo apt install` it.

Assuming `pandas` is installed, you can import it and check the version:

In [1]:
import pandas as pd
pd.__version__

'0.17.1'

Also import scipy:

In [4]:
import scipy as sc

### Reminder about tabbing and help!

As you read through these chapters, don't forget that Jupyter gives you the ability to quickly explore the contents of a package or methods applicable to an an object by using the tab-completion feature. Also documentation of various functions can be accessed using the ``?`` character. For example, to display all the contents of the pandas namespace, you can type

```ipython
In [1]: pd.<TAB>
```

And to display Pandas's built-in documentation, you can use this:

```ipython
In [2]: pd?
```

## Pandas `dataframes`

The dataframes is the main data object in pandas. 

### importing data
Dataframes can be created from multiple sources - e.g. CSV files, excel files, and JSON.

In [2]:
MyDF = pd.read_csv('../data/testcsv.csv', sep=',')
MyDF

,Species,Infraorder,Family,Distribution,Body mass male (Kg)
0,Daubentonia_madagascariensis,Chiromyiformes,Daubentoniidae,Madagascar,2.700
1,Allocebus_trichotis,Lemuriformes,Cheirogaleidae,Madagascar,0.100
2,Avahi_laniger,Lemuriformes,Indridae,America,1.030
3,Avahi_occidentalis,Lemuriformes,Indridae,Madagascar,0.814
4,Avahi_unicolor,Lemuriformes,Indridae,America,0.830
5,Cheirogaleus_adipicaudatus,Lemuriformes,Cheirogaleidae,Madagascar,0.200
6,Cheirogaleus_crossleyi,Lemuriformes,Cheirogaleidae,Madagascar,0.400
7,Cheirogaleus_major,Lemuriformes,Cheirogaleidae,Madagascar,0.450
8,Cheirogaleus_medius,Lemuriformes,Cheirogaleidae,Madagascar,0.217

### Creating dataframes

You can also create dataframes using a python dictionary like syntax:

In [5]:
MyDF = pd.DataFrame({
   'col1': ['Var1', 'Var2', 'Var3', 'Var4'],
   'col2': ['Grass', 'Rabbit', 'Fox', 'Wolf'],
   'col3': [1, 2, sc.nan, 4]
})

MyDF

   col1    col2  col3
0  Var1   Grass     1
1  Var2  Rabbit     2
2  Var3     Fox   NaN
3  Var4    Wolf     4

### Examining your data

In [6]:
# Displays the top 5 rows. Accepts an optional int parameter - num. of rows to show
MyDF.head()

   col1    col2  col3
0  Var1   Grass     1
1  Var2  Rabbit     2
2  Var3     Fox   NaN
3  Var4    Wolf     4

In [7]:
# Similar to head, but displays the last rows
MyDF.tail()

   col1    col2  col3
0  Var1   Grass     1
1  Var2  Rabbit     2
2  Var3     Fox   NaN
3  Var4    Wolf     4

In [8]:
# The dimensions of the dataframe as a (rows, cols) tuple
MyDF.shape

(4, 3)

In [15]:
# The number of columns. Equal to df.shape[0]
len(MyDF)

4

In [16]:
# An array of the column names
MyDF.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [17]:
# Columns and their types
MyDF.dtypes

col1     object
col2     object
col3    float64
dtype: object

In [18]:
# Converts the frame to a two-dimensional table
MyDF.values

array([['Var1', 'Grass', 1.0],
       ['Var2', 'Rabbit', 2.0],
       ['Var3', 'Fox', nan],
       ['Var4', 'Wolf', 4.0]], dtype=object)

In [9]:
# Displays descriptive stats for all columns
MyDF.describe()

           col3
count  3.000000
mean   2.333333
std    1.527525
min    1.000000
25%    1.500000
50%    2.000000
75%    3.000000
max    4.000000

OK, I am going to stop this brief intro to Jupyter with pandas here! I think you can alreay see the potential value of Jupyter for data analyses and visualization. As I mentioned above, you can also use R (e.g., using `tidyr` + `ggplot`) for this.

## Databases and Python

Many of you will deal with complex data — and often, lots of it. Ecological and Evolutionary data are particularly complex because they contain large numbers of attributes, often measured in very different scales and units for individual taxa, populations, etc. In this scenario, storing the data in a database makes a lot of sense! You can
easily include the database in your analysis workflow — indeed, that's why people use databases. And you can use python (and R) to build, manipulate and use your database.

### Relational databases

A *relational* database is a collection of interlinked (*related*) tables that altogether store a complex dataset
in a logical, computer-readable format. Dividing a dataset into multiple tables minimizes redundancies. For example, if your data were sampled from three sites — then, rather than repeating the site name and description in each row in a text file, you could just specify a numerical "key" that directs to another table containing the sampling site name and description.

Finally, if you have many rows in your data file, the type of sequential access we have been using in our `python` and `R` scripts is inefficient — you should be able to instantly access any row regardless of its position

Data columns in a database are usually called *fields*, while the rows are the *records*. Here are a few things to
keep in mind about databases:

* Each field typically contains only one data type (e.g., integers, floats, strings)
* Each record is a "data point", composed of different values, one for each field — somewhat like a python tuple
* Some fields are special, and are called *keys*:
    * The *primary key* uniquely defines a record in a table (e.g., each row is identified by a unique number)
    * To allow fast retrieval, some fields (and typically all the keys) are indexed — a copy of certain columns that can be searched very efficiently.
    * *Foreign keys* are keys in a table that are primary keys in another table and define relationships between the tables

The key to designing a database is to minimize redundancy and dependency without losing the logical consistency of tables — this is called *normalization* (arguably more of an art than a science!)

Let's look at a simple example.

Imagine you recorded body sizes of species from different field sites in a single text file (e.g., a `.csv` file) with the following fields:

|Field|Definition|
|:-|:-|
|`ID` |             Unique ID for the record|
|`SiteName` |       Name of the site|
|`SiteLong` |       Longitude of the site|
|`SiteLat` |        Latitude of the site|
|`SamplingDate` |   Date of the sample|
|`SamplingHour` |   Hour of the sampling|
|`SamplingAvgTemp` | Average air temperature on the sampling day|
|`SamplingWaterTemp` |   Temperature of the water|
|`SamplingPH` |     PH of the water|
|`SpeciesCommonName`|   Species of the sampled individual|
|`SpeciesLatinBinom`|   Latin binomial of the species|
|`BodySize` |       Width of the individual|
|`BodyWeight` |     Weight of the individual|


It would be logical to divide the data into four tables:

*Site table*:

|Field|Definition|
|:-|:-|
|`SiteID` |ID for the site|
|`SiteName`|   Name of the site|
|`SiteLong` |  Longitude of the site|
|`SiteLat`   | Latitude of the site|


*Sample table*:

|Field|Definition|
|:-|:-|
|`SamplingID` |     ID for the sampling date|
|`SamplingDate` |   Date of the sample|
|`SamplingHour` |   Hour of the sample|
|`SamplingAvgTemp` |Average air temperature|
|`SamplingWaterTemp`|   Temperature of the water|
|`SamplingPH` |     PH of the water|


*Species table*:

|Field|Definition|
|:-|:-|
|`SpeciesID` |      ID for the species|
|`SpeciesCommonName`|   Species name|
|`SpeciesLatinBinom` |  Latin binomial of the species|


*Individual table*:

|Field|Definition|
|:-|:-|
|`IndividualID`|   ID for the individual sampled|
|`SpeciesID` | ID for the species|
|`SamplingID` |ID for the sampling day|
|`SiteID` |    ID for the site|
|`BodySize` |  Width of the individual|
|`BodyWeight` | Weight of the individual|

In each table, the first ID field is the primary key. The last table contains three foreign keys because each individual is associated with one species, one sampling day and one sampling site.

These structural features of a database are called its *schema*.

### SQLite

`SQLite` is a simple (and very popular) SQL (Structured Query Language)-based solution for managing localized, personal databases. I can safely bet that most, if not all of you unknowingly (or knowingly!) use `SQLite` — it is used by MacOSX, Firefox, Acrobat Reader,iTunes, Skype, iPhone, etc. SQLite is also the database "engine" underlying your [Silwood Masters Web App](http://silwoodmasters.co.uk)

We can easily use SQLite through Python scripts. First, install SQLite by typing in the Ubuntu terminal:

```bash
sudo apt install sqlite3 libsqlite3-dev
```

Also, make sure that you have the necessary package for python by typing `import sqlite3` in the python or ipython shell. Finally, you may install a GUI for SQLite3 :

`sudo apt install sqliteman`

Now type `sqlite3` in the Ubuntu terminal to check if SQLite successfully launches.

SQLite has very few data types (and lacks a boolean and a date type):

|Field Data Type| Definition|
|:-|:-|
|`NULL` | The value is a NULL value |
|`INTEGER` |   The value is a signed integer, stored in up to or 8 bytes |
|  `REAL` | The value is a floating point value, stored as in 8 bytes |
|  `TEXT` | The value is a text string |
|  `BLOB` | The value is a blob of data, stored exactly as it was input (useful for binary types, such as bitmap images or pdfs) |

Typically, you will build a database by importing csv data — be aware that:

* Headers: the csv should have no headers
* Separators: if the comma is the separator, each record should not contain any other commas
* Quotes: there should be no quotes in the data
* Newlines: there should be no newlines

Now build your first database in SQLite! We will use as example a global dataset on metabolic traits called *Biotraits* that we are currently developing in our lab (should be in your `Data` directory). This dataset contains 164 columns (fields). Thermal response curves for different traits and species are stored in rows. This means
that site description or taxonomy are repeated as many times as temperatures are measured in the curve. You can imagine how much redundacy can be here!!!

For this reason, it is easier to migrate the dataset to SQL and split it into several tables:

* *TCP*: Includes the thermal curve performance for each species and trait (as many rows per trait and species as temperatures have been measured within the TCP)

* *TraitInfo*: Contains site description and conditions under the traits were measured (one row per thermal curve)

* Consumer: Consumer description including taxonomy (one row per thermal
curve).

* Resource: Resource description including taxonomy (one row per thermal
curve).

* Size: Size data for each species (one row per thermal curve)

DataSource: Contains information about the data source (citation,
contributors) (one row per thermal curve).

So all these tables compose the *Biotraits*
`schema`.

Navigate to your `Data` directory and in an Ubuntu terminal
type:

In [33]:
sqlite3 Biotraits.db

SyntaxError: invalid syntax (<ipython-input-33-0da5728d045b>, line 1)

This creates an empty database in your `Data` directory. Now,
you need to create a table with some fields. Let's start with the
*TraitInfo* table:

In [23]:
sqlite> CREATE TABLE TraitInfo (Numbers integer primary key,
   ...>                                 OriginalID text,
   ...>                                 FinalID text,
   ...>                                 OriginalTraitName text,
   ...>                                 OriginalTraitDef text,
   ...>                                 Replicates integer,
   ...>                                 Habitat  integer,               
   ...>                                 Climate text,
   ...>                                 Location text,
   ...>                                 LocationType text,
   ...>                                 LocationDate text,
   ...>                                 CoordinateType text,
   ...>                                 Latitude integer,
   ...>                                 Longitude integer);

SyntaxError: invalid syntax (<ipython-input-23-8e4889537a0f>, line 1)

Note that I am writing all SQL commands in upper case, but it is not
necessary. I am using upper case here because SQL syntax is long and
clunky, and it quickly becomes hard to spot (and edit) commands in long
strings of complex queries.

Now let's import the dataset:

In [24]:
sqlite> .mode csv

sqlite> .import TraitInfo.csv TraitInfo

SyntaxError: invalid syntax (<ipython-input-24-af9079bfdfda>, line 1)

So we built a table and imported a csv file into it. Now we can ask
SQLite to show all the tables we currently have:

In [25]:
sqlite> .tables

TraitInfo

SyntaxError: invalid syntax (<ipython-input-25-9e7dd43497a3>, line 1)

Let's run our first *Query* (note that you need a semicolon
to end a command):

In [26]:
sqlite> SELECT * FROM TraitInfo LIMIT 5;

1,1,MTD1,"Resource Consumption Rate","The number of resource consumed per number of consumers per time",6,freshwater,temperate,"Eunice Lake; Ontario; Canada",NA,NA,NA,51.254,-85.323
2,1,MTD1,"Resource Consumption Rate","The number of resource consumed per number of consumers per time",6,freshwater,temperate,"Eunice Lake; Ontario; Canada",NA,NA,NA,51.254,-85.323
3,1,MTD1,"Resource Consumption Rate","The number of resource consumed per number of consumers per time",6,freshwater,temperate,"Eunice Lake; Ontario; Canada",NA,NA,NA,51.254,-85.323
4,2,MTD2,"Resource Consumption Rate","The number of resource consumed per number of consumers per time",6,freshwater,temperate,"Eunice Lake; Ontario; Canada",NA,NA,NA,51.254,-85.323
5,2,MTD2,"Resource Consumption Rate","The number of resource consumed per number of consumers per time",6,freshwater,temperate,"Eunice Lake; Ontario; Canada",NA,NA,NA,51.254,-85.323

SyntaxError: invalid syntax (<ipython-input-26-e6f7ca33cd6e>, line 1)

Let's turn on some nicer formatting:

In [27]:
sqlite> .mode column

sqlite> .header ON

sqlite> SELECT * FROM TraitInfo LIMIT 5;

Numbers  OriginalID  FinalID     OriginalTraitName           ... 
-------  ----------  ----------  -------------------------   ...
1        1           MTD1        Resource Consumption Rate   ...
4        2           MTD2        Resource Consumption Rate   ...
6        3           MTD3        Resource Consumption Rate   ...
9        4           MTD4        Resource Mass Consumption   ...
12       5           MTD5        Resource Mass Consumption   ...

SyntaxError: invalid syntax (<ipython-input-27-849449435ecd>, line 1)

The main statement to select records from a table is
`SELECT`:

In [28]:
sqlite> .width 40  ## NOTE: Control the width

sqlite> SELECT DISTINCT OriginalTraitName FROM TraitInfo; # Returns unique values

OriginalTraitName                       
----------------------------------------
Resource Consumption Rate               
Resource Mass Consumption Rate          
Mass-Specific Mass Consumption Rate     
Voluntary Body Velocity                 
Forward Attack Distance                 
Foraging Velocity                       
Resource Reaction Distance                   
....

sqlite> SELECT DISTINCT Habitat FROM TraitInfo
   ...> WHERE OriginalTraitName = "Resource Consumption Rate"; # Sets a condition

Habitat                                 
----------------------------------------
freshwater                              
marine                                  
terrestrial 

sqlite> SELECT COUNT (*) FROM TraitInfo;  # Returns number of rows

Count (*)           
--------------------
2336

sqlite> SELECT Habitat, COUNT(OriginalTraitName) # Returns number of rows for each group
   ...> FROM TraitInfo GROUP BY Habitat;

Habitat     COUNT(OriginalTraitName)
----------  ------------------------
NA          16                      
freshwater  609                     
marine      909                     
terrestria  802   

sqlite> SELECT COUNT(DISTINCT OriginalTraitName) # Returns number of unique values
   ...> FROM TraitInfo;

COUNT(DISTINCT OriginalTraitName)
---------------------------------
220   

sqlite> SELECT COUNT(DISTINCT OriginalTraitName) TraitCount # Assigns alias to the variable
   ...> FROM TraitInfo;

TraitCount
----------
220 

sqlite> SELECT Habitat,
   ...> COUNT(DISTINCT OriginalTraitName) AS TN
   ...> FROM TraitInfo GROUP BY Habitat;

Habitat     TN        
----------  ----------
NA          7         
freshwater  82        
marine      95        
terrestria  96     


sqlite> SELECT * # WHAT TO SELECT
   ...> FROM TraitInfo # FROM WHERE
   ...> WHERE Habitat = "marine" # CONDITIONS
   ...> AND OriginalTraitName = "Resource Consumption Rate";

Numbers     OriginalID  FinalID     OriginalTraitName          ...
----------  ----------  ----------  -------------------------  ...
778         308         MTD99       Resource Consumption Rate  ...
798         310         MTD101      Resource Consumption Rate  ...
806         311         MTD102      Resource Consumption Rate  ...
993         351         MTD113      Resource Consumption Rate  ...

SyntaxError: invalid syntax (<ipython-input-28-c8e3d362e9a1>, line 1)

The structure of the `SELECT` commend is as follows
(*Note: **all** characters are case
**in**sensitive*):

In [ ]:
SELECT [DISTINCT] field
FROM table
WHERE predicate
GROUP BY field
HAVING predicate
ORDER BY field
LIMIT number
;

Let's try some more elaborate queries:

In [ ]:
sqlite> SELECT Numbers FROM TraitInfo LIMIT 5;

Numbers   
----------
1         
4         
6         
9         
12      

sqlite> SELECT Numbers 
   ...> FROM TraitInfo
   ...> WHERE Numbers > 100 
   ...> AND Numbers < 200;

Numbers   
----------
107       
110       
112       
115         

sqlite> SELECT Numbers 
   ...> FROM TraitInfo
   ...> WHERE Habitat = "freshwater"
   ...> AND Number > 700
   ...> AND Number < 800;

Numbers   
----------
704       
708       
712       
716       
720       
725       
730       
735       
740       
744       
748

You can also match records using something like regular expressions. In
SQL, when we use the command `LIKE`, the percent % symbol
matches any sequence of zero or more characters and the underscore
matches any single character. Similarly, `GLOB` uses the
asterisk and the underscore.

In [29]:
sqlite> SELECT DISTINCT OriginalTraitName
   ...> FROM TraitInfo
   ...> WHERE OriginalTraitName LIKE "_esource Consumption Rate";

OriginalTraitName        
-------------------------
Resource Consumption Rate          

sqlite> SELECT DISTINCT OriginalTraitName
   ...> FROM TraitInfo
   ...> WHERE OriginalTraitName LIKE "Resource%";

OriginalTraitName                       
----------------------------------------
Resource Consumption Rate               
Resource Mass Consumption Rate          
Resource Reaction Distance              
Resource Habitat Encounter Rate         
Resource Consumption Probability        
Resource Mobility Selection             
Resource Size Selection                 
Resource Size Capture Intent Acceptance 
Resource Encounter Rate                 
Resource Escape Response Probability 

sqlite> SELECT DISTINCT OriginalTraitName
   ...> FROM TraitInfo
   ...> WHERE OriginalTraitName GLOB "Resource*";


OriginalTraitName                       
----------------------------------------
Resource Consumption Rate               
Resource Mass Consumption Rate          
Resource Reaction Distance              
Resource Habitat Encounter Rate         
Resource Consumption Probability        
Resource Mobility Selection             
Resource Size Selection                 
Resource Size Capture Intent Acceptance 
Resource Encounter Rate                 
Resource Escape Response Probability 

# NOTE THAT GLOB IS CASE SENSITIVE, WHILE LIKE IS NOT

sqlite> SELECT DISTINCT OriginalTraitName
   ...> FROM TraitInfo
   ...> WHERE OriginalTraitName LIKE "resource%";

OriginalTraitName                       
----------------------------------------
Resource Consumption Rate               
Resource Mass Consumption Rate          
Resource Reaction Distance              
Resource Habitat Encounter Rate         
Resource Consumption Probability        
Resource Mobility Selection             
Resource Size Selection                 
Resource Size Capture Intent Acceptance 
Resource Encounter Rate                 
Resource Escape Response Probability

SyntaxError: invalid syntax (<ipython-input-29-8e352f54183b>, line 1)

We can also order by any column:

In [30]:
sqlite> SELECT OriginalTraitName, Habitat FROM 
   ...>  TraitInfo LIMIT 5;

OriginalTraitName          Habitat   
-------------------------  ----------
Resource Consumption Rate  freshwater
Resource Consumption Rate  freshwater
Resource Consumption Rate  freshwater
Resource Mass Consumption  freshwater
Resource Mass Consumption  freshwater

sqlite> SELECT OriginalTraitName, Habitat FROM 
   ...> TraitInfo ORDER BY OriginalTraitName LIMIT 5;

OriginalTraitName           Habitat   
--------------------------  ----------
48-hr Hatching Probability  marine    
Asexual Reproduction Rate   marine    
Attack Body Acceleration    marine    
Attack Body Velocity        marine    
Attack Body Velocity        marine

SyntaxError: invalid syntax (<ipython-input-30-0983d4f27cee>, line 1)

Until now we have just queried data from one single table, but as we
have seen, the point of storing a database in SQL is that we can use
multiple tables minimizing redundancies within them. And of course,
querying data from those different tables at the same time will be
necessary at some point.

Let's import then one more table to our database:

In [31]:
sqlite> CREATE TABLE Consumer (Numbers integer primary key,
  ...>                                OriginalID text,
  ...>                                FinalID text,
  ...>                                Consumer text,
  ...>                                ConCommon text,
  ...>                                ConKingdom text,
  ...>                                ConPhylum text,
  ...>                                ConClass text,
  ...>                                ConOrder text,
  ...>                                ConFamily text,
  ...>                                ConGenus text,
  ...>                                ConSpecies text);

SyntaxError: invalid syntax (<ipython-input-31-d204142d7611>, line 1)

In [ ]:
sqlite> .import Consumer.csv Consumer

# Now we have two tables in our database:

sqlite> .tables
Consumer   TraitInfo

In [ ]:
# These tables are connected by two differents keys: OriginalID
# and FinalID. These are unique IDs for each thermal curve. For each
# FinalID we can get the trait name (OriginalTraitName) from the TraitInfo
# table and the corresponding species name (ConSpecies) from the Consumer table.

sqlite> SELECT A1.FinalID, A1.Consumer, A2.FinalID,  A2.OriginalTraitName
   ...> FROM Consumer A1, TraitInfo A2
   ...> WHERE A1.FinalID=A2.FinalID LIMIT 8;

FinalID     Consumer               FinalID     OriginalTraitName        
----------  ---------------------  ----------  -------------------------
MTD1        Chaoborus trivittatus  MTD1        Resource Consumption Rate
MTD2        Chaoborus trivittatus  MTD2        Resource Consumption Rate
MTD3        Chaoborus americanus   MTD3        Resource Consumption Rate
MTD4        Stizostedion vitreum   MTD4        Resource Mass Consumption
MTD5        Macrobrachium rosenbe  MTD5        Resource Mass Consumption
MTD6        Ranatra dispar         MTD6        Resource Consumption Rate
MTD7        Ceriodaphnia reticula  MTD7        Mass-Specific Mass Consum
MTD8        Polyphemus pediculus   MTD8        Voluntary Body Velocity 

# In the same way we assign alias to variables, we can use them for tables.

This example seems easy because both tables have the same number of
rows. But the query is still as simple when we have tables with
different rows.

In [32]:
# Let's import the TCP table:

sqlite> CREATE TABLE TCP (Numbers integer primary key,
   ...>                           OriginalID text,
   ...>                           FinalID text,
   ...>                           OriginalTraitValue integer,
   ...>                           OriginalTraitUnit text,
   ...>                           LabGrowthTemp integer,
   ...>                           LabGrowthTempUnit text,   
   ...>                           ConTemp integer,
   ...>                           ConTempUnit text,
   ...>                           ConTempMethod text,
   ...>                           ConAcc text,
   ...>                           ConAccTemp integer);


sqlite> .import TCP.csv TCP
sqlite> .tables
Consumer   TCP        TraitInfo
                          
# Now imagine we want to query the thermal performance curves that we have
# stored for the species Mytilus edulis. Using the FinalID to match the tables,
# the query can be as simple as:

sqlite> SELECT A1.ConTemp, A1.OriginalTraitValue, A2.OriginalTraitName, A3.Consumer
   ...> FROM TCP A1, TraitInfo A2, Consumer A3
   ...> WHERE A1.FinalID=A2.FinalID AND A3.ConSpecies="Mytilus edulis" AND A3.FinalID=A2.FinalID LIMIT 8

ConTemp     OriginalTraitValue    OriginalTraitName               Consumer            
----------  --------------------  ------------------------------  --------------------
25          2.707075              Filtration Rate                 Mytilus edulis      
20          3.40721               Filtration Rate                 Mytilus edulis      
5           3.419455              Filtration Rate                 Mytilus edulis      
15          3.711165              Filtration Rate                 Mytilus edulis      
10          3.875465              Filtration Rate                 Mytilus edulis      
5           0.34                  In Vitro Gill Particle Transpo  Mytilus edulis      
10          0.46                  In Vitro Gill Particle Transpo  Mytilus edulis      
15          0.595                 In Vitro Gill Particle Transpo  Mytilus edulis

SyntaxError: invalid syntax (<ipython-input-32-98c14429cc2e>, line 3)

So on and so forth (joining tables etc. would come next...). But if you
want to keep practicing and learn more about sqlite commands, this is a
very useful site: <http://www.sqlite.org/sessions/sqlite.html>. You can
store your queries and database management commands in an `
.sql` file (`geany` will take care of syntax
highlighting etc.)

### SQLite with python

It is easy to access, update and manage SQLite databases with Python (you will find this script file in the `code` directory):

```python
import sqlite3

conn = sqlite3.connect(":memory:")

c = conn.cursor()

c.execute("CREATE TABLE tt (Val TEXT)")

conn.commit()

z = [('a',), ('ab',), ('abc',), ('b',), ('c',)]

c.executemany("INSERT INTO tt VALUES (?)", z)

conn.commit()

c.execute("SELECT * FROM tt WHERE Val LIKE 'a%'").fetchall()

conn.close()
```

You can create a database in memory, without using the disk — thus you
can create and discard an SQLite database within your workflow!:

## Readings and Resources

* [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook)
* A [Jupyter + pandas quickstart tutorial](http://nikgrozev.com/2015/12/27/pandas-in-jupyter-quickstart-and-useful-snippets/)
*"The Definitive Guide to SQLite" is a pretty complete guide to SQLite and freely available from [here]( 
    http://sd.blackball.lv/library/The_Definitive_Guide_to_SQLite_2nd_edition.pdf)

* For databses in general, try the [Stanford Introduction to Databases course](https://www.coursera.org/course/db)